.musicHeading {
    color: #dc3545;
    margin: 1em 0;
    font-weight: bolder;
}
.song-card {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 3em 0;
}
.song-card .display-song {
    background: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.song-card .audio {
    padding: 3rem;
}

.song-card .display-song .art {
    height: 200px;
    margin: 0 auto;
}
.song-card .song-list {
    padding: 1rem 5rem;
    border-radius: 0 20px 20px 0;
    background: transparent;
    display: flex;
    flex-direction: column;
}
.song-card .song-list .item {
    padding: 0 1em;
    background: white;
    transition: all 0.3s ease;
}

.song-card .song-list .item.is-active {
    background: aliceblue;
    transition: all 0.3s ease;
}
.song-card .song-list .item:hover {
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0;
    background-color: #30336b;
    color: white;
    height: 3em;
  }
